<!DOCTYPE html>
<html>
<head>
  <title>Shared QR Attendance</title>
</head>
<body>
  <h2>Scan this QR code to mark attendance</h2>
  <img src="<%= qr %>" alt="Attendance QR Code" style="width:200px;">

 <form method="POST" action="/mark">
  <input type="text" name="uniqueId" required>
  <button type="submit">Mark Attendance</button>
</form>



  <p><a href="/register">Register new user</a></p>
	<p><a href="/users">View Registered Users</a></p>

</body>
</html>
