<!DOCTYPE html>
<html>
<head>
  <title>Mark Attendance</title>
</head>
<body>
  <h2>Mark Your Attendance</h2>
 <form method="POST" action="/mark">
  <input type="text" name="uniqueId" required>
  <button type="submit">Mark Attendance</button>
</form>

</body>
</html>
